<div class="clearfix mb-20">
  <div class="pull-right btn-group">
    {{#link-to 'users' class="btn btn-info btn-sm"}} Create Group {{/link-to}}
    {{#link-to 'expenses' class="btn btn-info btn-sm"}} Enter Expenses {{/link-to}}
    {{#link-to 'payment' class="btn btn-info btn-sm"}} Compute Payment {{/link-to}}
  </div>
</div>
