<button {{action 'showLoading' param}} class="{{class_name}}">
        {{#if isLoading}}
            <img src="http://i639.photobucket.com/albums/uu116/pksjce/spiffygif_18x18.gif"/>
        {{else}}
            {{buttonText}}
        {{/if}}
    </button>
