body{
	font-size: 1.5em;
}

.headline{
	text-align: center;
	margin-bottom: 20px;
}

.content-wrapper{
	margin-top: 5%;
}

.master{
	background: lightgrey;
	border: 1px solid black;
	border-radius: 5px;
}

.master ul li {
	text-align: center;
	vertical-align: middle;
	padding: 10px;
}

.add-people {
	margin-bottom: 10px;
}