h2 {
	color: black;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
}

.tabs {
	color: black;
    display: inline;
    padding: 10px 20px 12px 15px;
    margin-left: 10px;
    float: left;
    border-style: double;
}

.group {
	margin-top: 90px;
}

.heading{
	color: black;
    padding: 10px;
    font-weight: bolder;
    border-top-style: double;
}

.textBox {
    border-color: black;
    border-style: double;
    width: 1000px;
    padding: 10px;
    margin: 10px;
}

.buttonStyle {
    background-color: black;
    border-style: double;
    border-color: white;
    color: white;
    padding: 10px;
    margin: 8px;
}

table {
    border-collapse: collapse;
    width: 300px;
}

table, th, td {
    border-bottom: 1px solid black;
    padding: 7px;
    margin: 10px;
    width: 1320px;
}

.aligning {
    padding: 10px;
}

.subHeading {
    border-top-style: solid;   
}

label {
    font-size: x-large;
}

.success {
    padding: 10px;
}

.tableHeading {
    font-weight: bold;
    color: black;
    text-align: left;
}

.centering {
    text-align: center;
}