h2 {
	color: white;
    background-color:  #b3b3ff;
    padding: 20px;
    border-radius: 25px;
    margin-left: 7px;
}

.tabs {
	color: white;
    display: inline;
    background-color: #b3b3ff;
    padding: 10px 20px 12px 15px;
    border-radius: 25px;
    margin-left: 10px;
    text-decoration: inherit;
}

.group {
	padding: 10px;
    background-color: #b3b3ff;
    margin-left: 12px;
}

.heading{
	color: black;
    padding: 10px;
}

.textBox {
    border-color: white;
    border-style: double;
}

.buttonStyle {
	background-color: white;
    border-style: double;
    border-color: white;
    border-radius: 20px;
}

table {
    border-collapse: collapse;
    width: 300px;
}

table, th, td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}