
<h2 id="title">Expense-Tracker</h2>
{{#link-to "createGroup"}}<div class="tabs">Create Group</div>{{/link-to}}
{{#link-to "addExpense"}}<div class="tabs">Expenses</div>{{/link-to}}
{{#link-to "balance"}}<div class="tabs">Balance</div>{{/link-to}}

{{outlet}}